In [13]:
import pandas
pandas.__version__

'1.1.3'

# Exercise 1

1. Create the following dataframe
![](pandas/ex00.png)

In [14]:
df_dict = {
    "Age": (24, 13, 53),
    "Location": ("New York", "Paris", "Berlin"),
    "Name": ("John", "Anna", "Peter")
}

In [15]:
df = pandas.DataFrame(df_dict)
df

   Age  Location   Name
0   24  New York   John
1   13     Paris   Anna
2   53    Berlin  Peter

2. Change "Location" into "City"

In [16]:
# Option 1 (with pandas column)
df.columns.values[1] = "City"
df

   Age      City   Name
0   24  New York   John
1   13     Paris   Anna
2   53    Berlin  Peter

In [17]:
# Option 2 (with dictionary key renaming)
df_dict["City"] = df_dict.pop("Location")
df

   Age      City   Name
0   24  New York   John
1   13     Paris   Anna
2   53    Berlin  Peter

# Exercise 2

1. Create the following dataframe with “Umur” is object type and convert it into integer
![](pandas/ex1.png)

In [18]:
df_dict_02 = {
    "Nama": ("Ahmad", "Joko", "Adi"),
    "Umur": ("12", "13", "15"),
    "Kelas": (6, 7, 8),
}

df_02 = pandas.DataFrame(df_dict_02)
print(df_02)

    Nama Umur  Kelas
0  Ahmad   12      6
1   Joko   13      7
2    Adi   15      8

In [19]:
print(type(df_02))
print()
print(df_02.dtypes)

<class 'pandas.core.frame.DataFrame'>

Nama     object
Umur     object
Kelas     int64
dtype: object

In [20]:
df_02["Umur"] = pandas.to_numeric(df_02["Umur"])
print(df_02.dtypes)

Nama     object
Umur      int64
Kelas     int64
dtype: object

2. Go to Kaggle, download the Titanic data and do the data basic exploration.\
head, tail, describe, info, size, shape

In [21]:
df_03 = pandas.read_csv("train.csv")
df_03

FileNotFoundError: [Errno 2] No such file or directory: 'train.csv'

In [ ]:
df_03.head

In [ ]:
df_03.tail

In [ ]:
df_03.describe

In [ ]:
df_03.info

In [ ]:
df_03.size

In [ ]:
df_03.shape

# Exercise 3

1. Select columns: `START_DATE*, START*, STOP*`

In [ ]:
df_04 = pandas.read_csv("My Uber Drives - 2016.csv")
df_04

In [ ]:
# Option 1
dataf = df_04.iloc[:, [0,3,4]]
dataf

In [ ]:
# Option 2
dataff = df_04.loc[:, ["START_DATE*", "START*", "STOP*"]]
dataff

# Exercise 4

1. Find all trips that is greater than 10 miles and originated from New York and Morrisville

In [ ]:
print(df_04.dtypes)

In [ ]:
df_miles = df_04.loc[df_04["MILES*"] > 10.0, ["MILES*", "START*"]]
df_miles

In [ ]:
df_new = df_miles.loc[df_miles["START*"].isin(["New York", "Morrisville"]), ["MILES*", "START*"]]
df_new

In [ ]:
df_new = df_new.reset_index(inplace = True)
df_new

# Exercise 5

1. Create a new column with the following condition:\
    a) >10    : Long Trip\
    b) 5-10   : Medium Trip\
    c) <5     : Short Trip

In [ ]:
distance = pandas.Series([])

for i in range(len(df_04)): 
    if df_04["MILES*"][i] > 10: 
        distance[i] = "Long Trip"
  
    elif 5 <= df_04["MILES*"][i] <= 10: 
        distance[i] = "Medium Trip"
  
    elif df_04["MILES*"][i] < 5: 
        distance[i] = "Short Trip"

df_04.insert(7, "DISTANCE*", distance) 
  
# list output 
df_04.head()

In [ ]:
df_04